.navbar {
    border: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 40px;
}

.left-navigation {
    display: flex;
    width: 25%;
    height: 100%;
}

.brand {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.left-navigation a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
